.Rproj.user
.Rhistory
.Rdata
.httr-oauth
*.DS_Store
data/campus_daily_crime_log/Texas Arlington
data/campus_daily_crime_log/
data/campus_daily_crime
tables_files/
data/clery_act_data
*.Renviron
data/nibrs
created_data/nibrs/victim_data.csv
created_data/nibrs/offense_data.csv